
body{
    background: url("/images/img2/pencils-gc0fca8f68_1920.jpg");
}

.bodyindex{
    background: url("/images/img2/pencils-gc0fca8f68_1920.jpg");
}


.accueil{
    background: url("/images/img2/hands-600497_1920.jpg");
}